.ctz_page02title01{
    width: 90%;
    position: absolute;
    left: 5%;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: rgb(107, 84, 54);
}
.ctz_page02_title01{
    width: 90%;
}
.ctz_page02_title02{
    text-align: center;
    padding: 2%;
}
.ctz_page02_title02 .title {
    font-size: 32px;
    position: relative;
    font-weight: normal;
    color: rgb(107, 84, 54);
    height: 45px;
    margin: 0px;
}
.clear{
    clear: both;
}
.news-grids{
    padding-top: 3%;
    float: left;
}
.news-grids-right .time{
    padding-bottom: 10px;
    border-bottom: dotted;
}

.news-grids-right:hover a{
    text-decoration: none;
    font-weight: bold;
}

.news-grids h5{
    font-size: 16px;
    color: #6b5436;
}
.news-grids p, .news-grids span{
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
    color: black;
}
.col{
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    width: 100%;
    margin: 1rem;
    cursor: pointer;
    float: left;

}

.col .ctn{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.front,
.back{
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 200px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back{
    background: #BEBEBE;
    background: -webkit-linear-gradient(45deg,  #BEBEBE 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #BEBEBE 0%,#596a72 100%);
    background: linear-gradient(45deg,  #BEBEBE 0%,#596a72 100%);
}

.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.ctn:hover .front,
.ctn:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.ctn .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ctn .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ctn:hover .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ctn:hover .front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem){
    .col{
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem){
    .col{
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}
/*.news-grids p,.news-grids span {*/
    /*-webkit-line-clamp: 3; // 限制显示的文本的行数为3*/
/*-webkit-box-orient: vertical; // 水平排列<p>，使其不纵向显示*/
/*word-break: break-all; // 使<p>中的文字换行*/
/*overflow: hidden; // 超出的文字部分隐藏*/
/*text-overflow: ellipsis; // 超出的文字部分用...来显示*/
/*display: -webkit-box; // 将<p>变成高度定死，宽度自适应的行内块元素*/
/*}*/
@media (max-width:940px){
    .news-grids p{
        font-size: 0.5em;
    }
}
.inner p{
    color: white;
}
 /*隐藏时间*/
 .news-grids span{
     opacity: 0;
 }

