.button{
    background-color: darkorange;
    height: 50px;
    margin-bottom: 20px;
    border: 0px none;
    border-radius: 5px;
}
.chart{
    border: 1px solid gainsboro;
    background-color: #a6e1ec;
}
.ctz_page03title01{
    width: 90%;
    position: absolute;
    left: 5%;
    text-align: center;
    margin: 20px;
}