.dmp_page04_d1{
    position: relative;
    top: 80px;
}
.dmp_page04_d1t1{
    background:hsla(0,0%,100%,.25)border-box;
    box-shadow:0 0 0 2px hsla(0,0%,100%,.5)inset,0 .5em 1em rgba(0,0,0,0.6);
    height:250px;
    border-radius: 20px 20px 0px 30px;
}
.dmp_page04_d1t2{
    background:hsla(0,0%,100%,.25)border-box;
    box-shadow:0 0 0 2px hsla(0,0%,100%,.5)inset,0 .5em 1em rgba(0,0,0,0.6);
    height:250px;
    border-radius: 20px 20px 20px 0px;
}
.dmp_page04_d2t1{
    background:hsla(0,0%,100%,.25)border-box;
    box-shadow:0 0 0 2px hsla(0,0%,100%,.8)inset,0 .5em 1em rgba(0,0,0,0.6);
    height:250px;
    border-radius: 20px 0px 20px 20px;
}
.dmp_page04_d2t2{
    background:hsla(0,0%,100%,.25)border-box;
    box-shadow:0 0 0 2px hsla(0,0%,100%,.8)inset,0 .5em 1em rgba(0,0,0,0.6);
    height:250px;
    border-radius: 0px 20px 20px 20px;
}
.dmp_page04_d2t1 p,.dmp_page04_d1t1 p{
    position: relative;
    left: 190px;
    padding-right: 70px;
    padding-left: 10px;
    color: white;
}
.dmp_page04_d2t2 p,.dmp_page04_d1t2 p{
    position: relative;
    right: 100px;
    padding-left: 70px;
    padding-right: 10px;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    right: 40px;
    text-align: center;
}
.dmp_page04_d2{
    position: absolute;
    background:hsla(0,0%,100%,.6);
    box-shadow:0 0 0 2px hsla(0,0%,100%,.8)inset,0 .5em 1em rgba(0,0,0,0.6);
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    height: 150px;
    width: 150px;
    border-radius:15px;
}
.dmp_page04_d1t1>img{
    height: 200px;
}
.container{
    height: 500px;
}
body{
    background-image: url("../other/img6.jpg");
}
.section-4{
    background-image: url("../other/img6.jpg");
}
.img1>img{
    position: relative;
    width: 250px;
    top: 60px;
    height: 150px;
    border:3px solid white;
}
.img2>img{
    position: relative;
    border: 3px solid white;
    width: 250px;
    height: 150px;
    left: 270px;
    top: 60px;
}
