.eco_page03title01{
    border-bottom: solid 2px black;
}
.eco_page03title01 h2{
    text-align: center;
}
.button{
    background-color: darkorange;
    height: 50px;
}
.chart{
    border: 1px solid gainsboro;
    background-color: #a6e1ec;
}