#eco_page02title01 h2 {
    width: 90%;
    position: absolute;
    left: 5%;
    font-size: 20px;
    text-align: center;
}
.eco_page02title02_img1_01{
    height: 200px;
    background:url(../img/eco_page02_img01.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img1_01:hover{
    background-size: 130%;
}
.eco_page02title02_img2_01{
    height: 200px;
    background:url(../img/eco_page02_img02.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img2_01:hover{
    background-size: 130%;
}
.eco_page02title02_img3_01{
    height: 200px;
    background:url(../img/eco_page02_img03.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img3_01:hover{
    background-size: 130%;
}
.eco_page02title02_img4_01{
    height: 200px;
    background:url(../img/eco_page02_img06.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img4_01:hover{
    background-size: 130%;
}
.eco_page02title02_img5_01{
    height: 200px;
    background:url(../img/eco_page02_img05.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img5_01:hover{
    background-size: 130%;
}
.eco_page02title02_img6_01{
    height: 200px;
    background:url(../img/eco_page02_img04.jpg) no-repeat center center;
    background-size: 110%;
    -webkit-transition:1s;
}
.eco_page02title02_img6_01:hover{
    background-size: 130%;
}
.eco_page02title02_img1_02 {
    background-color: black;
    opacity: 0;
}

.eco_page02title02_img01:hover .eco_page02title02_img02 {
    opacity: 0.5;
}

.eco_page02title02_img02 {
    background-color: black;
    opacity: 0;
}

.eco_page02title02_word {
    display: inline-block;
    transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    padding-right: 2%;
    padding-left: 2%;
    color: yellow;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 300px;
}

.eco_page02title02_img01:hover .eco_page02title02_word {
    transform: translateY(-250px);
}


.section-2 .box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

