*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 80%;
}
.head{
    text-align: center;
    margin: 30px;

}
.head .title {
    font-size: 32px;
    position: relative;
    font-weight: normal;
    color: rgb(107, 84, 54);
    height: 45px;
    margin: 0px;
}
.clear{
    clear: both;
}

.news-grids{
    float: left;
    margin-bottom: 30px;
}

.news-grids-left img{
    border-radius: 50%;
}
.news-grids-right{

}
.news-grids-right .time{
    padding-bottom: 10px;
   border-bottom: dotted;
}
.news-grids-left:hover img{
    transform: rotate(360deg);
    transition: 4s;
}
.news-grids-right:hover a{
    text-decoration: none;
    font-weight: bold;
}

.news-grids h4{
    font-size: 16px;
    color: #6b5436;
}
.news-grids p, .news-grids span{
    font-size: 1em;
    line-height: 1.8em;
    margin-top: 1em;
    color: #87807c;
}
.col-md-6{
    padding-right: 0px;
    padding-left: 0px;
}