/*整合之后的蜂巢*/
.hex {
    float: left;
    margin-left: 6px;
    /*margin-bottom: -26px;*/
    margin-bottom: -47.5px;
}
.hex .top {
    width: 0;
    border-bottom: 54.8px solid #6C6;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
}
.hex .middle {
    width: 190px;
    height: 109.6px;
    background: #6C6;
}
.hex .bottom {
    width: 0;
    border-top: 54.8px solid #6C6;
    border-left: 95px solid transparent;
    border-right: 95px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 96px;
}
.transparent{
    opacity: 0;
}
.my_row>*{
    float: left;
}
.title{
    /*background-color: red;*/
    width: 319px;
}
.ctn{
    width: 1226px;
    margin: 0px auto;
}
.title .text{
    height: 136px;
    border: 1px solid ;
    margin-bottom: 60px;

}
.title>*{
    position: relative;
}
.box_left_top ,.box_left_bottom{
    left: 50px;
}
.box_right_top ,.box_right_bottom{
    right: 50px;
}
.box_right_center{
    left: 5px;
}