.sci_page04title01{
    text-align: center;
}
.sci_page04title01_img1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:url("../img/sci_page04_img01.png") no-repeat center center;
    background-size: 100%;
    transition: all 200ms ease-in;
    float: left;
    margin-left: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 480px;
}
.sci_page04title01_img1:hover{
    transform: scale(1.2);
}
.sci_page04title01_img2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:url("../img/sci_page04_img02.png") no-repeat center center;
    background-size: 100%;
    transition: all 200ms ease-in;
    float: left;
    margin-left: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 240px;
}
.sci_page04title01_img2:hover{
    transform: scale(1.2);
}
.sci_page04title01_img3{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:url("../img/sci_page04_img03.png") no-repeat center center;
    background-size: 120%;
    transition: all 200ms ease-in;
    float: left;
    margin-left: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
.sci_page04title01_img3:hover{
    transform: scale(1.2);
}
.sci_page04title01_img4{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:url("../img/sci_page04_img04.png") no-repeat center center;
    background-size: 100%;
    transition: all 200ms ease-in;
    float: left;
    margin-left: 40px;
    margin: auto;
    position: absolute;
    left: 240px;
    right: 0;
}
.sci_page04title01_img4:hover{
    transform: scale(1.2);
}
.sci_page04title01_img5{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:url("../img/sci_page04_img05.png") no-repeat center center;
    background-size: 100%;
    transition: all 200ms ease-in;
    float: left;
    margin-left: 40px;
    margin: auto;
    position: absolute;
    left: 480px;
    right: 0;
}
.sci_page04title01_img5:hover{
    transform: scale(1.2);
}
.sci_page04title02{
    border: 2px solid darkorange;
    opacity: 0;
}
.sci_page04title01_img06:hover .sci_page04title02{
    opacity: 1;
}
.sci_page04title01_img07:hover .sci_page04title02{
    opacity: 1;
}
.sci_page04title01_img08:hover .sci_page04title02{
    opacity: 1;
}
.sci_page04title03{
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 20px;
}
.sci_page04_slideshow{
    width: 500vw;
    transition: 2s;
}
.sci_page04_img{
    width: 30vw;
    height: 40vh;
    background-size: 100%;
    float: left;
    margin-right: 0.8vw;
}
.sci_page04_container{
    width: 91.6vw;
    overflow: hidden;
    margin: 0px auto;
}
.sci_page04_img001{
    background: url(../img/sci_page04_img1.jpg) no-repeat center center;
}
.sci_page04_img002{
    background: url(../img/sci_page04_img2.jpg) no-repeat center center;
}
.sci_page04_img003{
    background: url(../img/sci_page04_img3.jpg) no-repeat center center;
}
.sci_page04_img004{
    background: url(../img/sci_page04_img4.jpg) no-repeat center center;
}
.sci_page04_img005{
    background: url(../img/sci_page04_img5.jpg) no-repeat center center;
}
.sci_page04_img006{
    background: url(../img/sci_page04_img6.jpg) no-repeat center center;
}
.sci_page04_img007{
    background: url(../img/sci_page04_img7.jpg) no-repeat center center;
}
.sci_page04_img008{
    background: url(../img/sci_page04_img8.jpg) no-repeat center center;
}
.sci_page04_img009{
    background: url(../img/sci_page04_img9.jpg) no-repeat center center;
}
.sci_page04_img010{
    background: url(../img/sci_page04_img10.jpg) no-repeat center center;
}
.sci_page04_img011{
    background: url(../img/sci_page04_img11.jpg) no-repeat center center;
}
.sci_page04_img012{
    background: url(../img/sci_page04_img12.jpg) no-repeat center center;
}
.sci_page04_img013{
    background: url(../img/sci_page04_img13.jpg) no-repeat center center;
}
.sci_page04_img014{
    background: url(../img/sci_page04_img14.jpg) no-repeat center center;
}
.sci_page04_img015{
    background: url(../img/sci_page04_img15.jpg) no-repeat center center;
}
