#sci_page03title01 h1 {
    width: 90%;
    position: absolute;
    left: 5%;
    text-align: center;
    font-size: 30px;
}
.sci_page03title02_img1_01{
    height: 200px;
    background:url(../img/sci/sci_page03_img01.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img1_01:hover{
    background-size: 130%;
}
.sci_page03title02_img2_01{
    height: 200px;
    background:url(../img/sci/sci_page03_img02.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img2_01:hover{
    background-size: 130%;
}
.sci_page03title02_img3_01{
    height: 200px;
    background:url(../img/sci_page03_img03.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img3_01:hover{
    background-size: 130%;
}
.sci_page03title02_img4_01{
    height: 200px;
    background:url(../img/sci/sci_page03_img04.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img4_01:hover{
    background-size: 130%;
}
.sci_page03title02_img5_01{
    height: 200px;
    background:url(../img/sci/sci_page03_img05.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img5_01:hover{
    background-size: 130%;
}
.sci_page03title02_img6_01{
    height: 200px;
    background:url(../img/sci/sci_page03_img06.jpg) no-repeat center center;
    background-size: 100%;
    -webkit-transition:1s;
}
.sci_page03title02_img6_01:hover{
    background-size: 130%;
}
.sci_page03title02_img1_02 {
    background-color: black;
}

.sci_page03title02_box {
    background-color: rgba(255,255,255,0.5);
    -webkit-transition:1.2s;
    /*opacity: 0.5;*/
    transform: scale(0);
}

.sci_page03title02_img1_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_img2_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_img3_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_img4_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_img5_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_img6_01:hover .sci_page03title02_box {
    transform: scale(1);
}

.sci_page03title02_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.sci_page03title02_word{
    display: flex;
    margin: 0px auto;
    margin-top: 3%;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    color: blue;
    font-family: 微软雅黑;
    font-size: 16px;
}
